* {
    /* box-sizing:border-box; */
    color: #fff;
    padding:0;
    margin:0;
}

.container {
    display: flex;
    flex-direction: row;
    /* min-height: 100vh; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container > * {
    flex: 0 1 30rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #222;
    width:350px;
    height:400px;
    margin:10px;
    margin-top: 48px;
    border-radius: 15px;
}

.card p {
    padding: 5px;
    height:180px;
}

.card:hover {
    background-color: #111;
    color: #fff;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.3s ease;
}

.ag:hover {
    background-color: #000;
}

.sh:hover {
    background-color: #001b40;
}

.cc:hover{
    background-color: #079ee2;
}

.bs:hover {
    background-color: #c00e0e;
}

.og:hover {
    background-color: #2b4650;
}



.card a:link {text-decoration:none; color: #000;}
.card a:visited {text-decoration:none; color:#000; }
.card a:hover {text-decoration:none; color: #fff; }
.card a:active {text-decoration:none; }